{%extends "boutique/base.html"%}
{%block title%}KHA Boutique{%endblock%}
{%block header%}User administration{%endblock%}
{%block content%}

	<form method="post">
  		{% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-2 col-sm-1">
                <h1>Lykilorð endurstillt</h1>
                <div class="mb-3">
                    <p>Lykilorðið þitt hefur verið endurstillt. Þú getur nú skráð þig inn <a href="/login">hér<</a></p>
                </div>
            </div>
        </div>
	</form>
{%endblock%}
