{%extends "boutique/base.html"%}
{%block title%}KHA Boutique{%endblock%}
{%block header%}User administration{%endblock%}
{%block content%}

	<form method="post">
  		{% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-2 col-sm-1">
                <h1>Gleymt lykilorð</h1>
                <div class="mb-3">
                    <p>Settu inn Unak tölvupóstfangið þitt til þess að fá senda slóð þar sem þú getur endirstillt lykilorðið þitt</p>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Tölvupóstfang</label>
                    <input type="text" class="form-control" id="email" name="email" placeholder="notandi@unak.is" required>
                </div>
                <div class="mb-3 text-end">
          		    <button class="btn btn-success" type="submit">Senda</button>
                </div>
            </div>
        </div>
	</form>
{%endblock%}
