{%extends "boutique/base.html"%}
{%block title%}KHA Boutique{%endblock%}
{%block header%}User administration{%endblock%}
{%block content%}

    {%if validlink%}
	<form method="post">
  		{% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-2 col-sm-1">
                <h1>Nýtt lykilorð</h1>
                <p>Sláðu inn nýtt lykilorð
                <div class="mb-3">
                    <label for="username" class="form-label">Nýtt lykilorð</label>
                    <input type="password" class="form-control" id="password1" name="password1" placeholder="notandi@unak.is" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Nýtt lykilorð endurtekið</label>
                    <input type="password" class="form-control" id="username" name="password2" required>
                </div>
                <div class="mb-3 text-end">
          		    <button class="btn btn-success" type="submit">Skrá nýtt lykilorð</button>
                </div>
            </div>
        </div>
	</form>
    {%else%}
    <div class="alert alert-danger" role="alert">
        <h4>Hlekkurinn sem þú fylgdir er óvirkur. Mögulega vegna þess að hann hefur þegar verið notaður til þess að endurstilla lykilorðið þitt.</h4>
    </div>
    {%endif%}
{%endblock%}
