{%extends "boutique/base.html"%}
{%block title%}KHA Boutique{%endblock%}
{%block header%}User administration{%endblock%}
{%block content%}

	<form method="post">
  		{% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-2 col-sm-1">
                <h1>Tölvupóstur sendur</h1>
                <div class="mb-3">
                    <p>Þú ættir nú að hafa fengið tölvupóst með vefslóð til þess að endursetja lykilorðið þitt. Aðgættu hvort pósturinn hafi mögulega lent í ruslasíunni.</p>
                </div>
            </div>
        </div>
	</form>
{%endblock%}
