{%extends "boutique/base.html"%}
{%block title%}KHA Boutique{%endblock%}
{%block header%}User administration{%endblock%}
{%block content%}
<div class="row justify-content-center">
    <div class="col-lg-4 col-md-2 col-sm-1">
        <h1>Skráning ekki heimil</h1>
        <div class="mb-3">
            <p>Skráningarhlekkurinn þinn virkar ekki. Ef þú fékkst sendann skráningarhlekk, hafðu samband við vefstjóra sem sendir þér nýjan. </p>
            <p>Skráning er ekki möguleg nema með boði frá stjórnanda.</p>
        </div>
    </div>
</div>
{%endblock%}
