header{
	background-color:#a52417;
}

.thumbnail{
	/*max-width:150px;
	max-height:150px;*/
	aspect-ratio:1;
	object-fit: cover;
}

.editpreview{
	max-width:200px;
	max-height:200px;
	aspect-ratio:1;
	object-fit: cover;
}

.userlink{
	color:#000;
	text-decoration:none;
}

.userlink:hover{
	color:#a52417;
}

.form-check-input{
    background-color: #dc3545;
    border-color: #dc3545;
}
.form-check-input:checked{
    background-color: #198754;
    border-color: #198754;
}

.card-body {
    flex: 1 1 auto;
    padding: 0rem 1rem 1rem;
}

.card-title{
    white-space: normal;
    height: auto;
    min-height: 2.5rem;
    max-height: 2.5rem;
    line-height: 1.5rem;
}
