{%extends "boutique/base.html"%}
{%block title%}KHAB - Vörur{%endblock%}
{%block header%}Products{%endblock%}
{%block content%}
<div class="d-flex p-2 bd-highlight">
	<button type="button"  class="btn btn-warning" onclick="newProduct(event)">Bæta við vöru</button>
</div>
	{%if products%}
	<div class="row row-cols-2 row-cols-lg-5 row-cols-md-3 g-4">
    		{%for product in products%}
		<div class ="col">
			<div class="card">
        			<img src = "media/{{ product.prod_img }}" class="card-img-top thumbnail">
				<div class ="card-body">
					<h4 class="card-title">{{product.name}}</h4> 
					<div class="d-grid gap-2">
						<h5>{{product.price}} kr.</h5> 
						<button class="newproduct btn btn-danger btn-block" data-url="{% url 'newproduct' pnr=product.id %}"  name="change" value={{product.id}} onclick="editProduct(event, this)">Breyta</button>
					</div>
				</div>
			</div>
		</div>
    		{%endfor%}
	</div>
	{%endif%}
<div id="productpopup" class="modal fade" role="dialog">
	{%include "boutique/newproduct.html"%}
</div>
{%endblock%}
