{%extends "boutique/base.html"%}
{%block title%}KHA Boutique - Products{%endblock%}
{%block header%}Products{%endblock%}
{%block content%}
<button type="button"  class="btn btn-warning" onclick="newProduct(event)">Bæta við vöru</button>
	{%if products%}
    		{%for product in products%}
		<div class="media">
        		<img src = "media/{{ product.prod_img }}" class="mr-3">
			<div class ="media-body">
				<h3 class=mt-0">{{product.name}}</h3> <h4>{{product.price}}kr.</h4> <button class="newproduct btn btn-danger" name="change" value={{prod.id}}>Breyta</button>
    			</div>
		</div>
    		{%endfor%}
	{%endif%}
{%include "boutique/newproduct.html"%}
{%endblock%}
