{%extends "boutique/base.html"%}
{%block title%}KHA Boutique{%endblock%}
{%block header%}{{user.first_name}} {{user.last_name}}{%endblock%}
{%block content%}
	<div class="container">
		<div class="row">
			<div class="col">
				<h1>{{user.first_name}} {{user.last_name}}</h1>
				<button class="btn btn-primary btn-sm" onClick="changeUser(event,{{user.id}},'{{user.first_name}}','{{user.last_name}}')" >Breyta upplýsingum</button>
			</div>
			<div class="col text-end">
				<h4>Viðskiptastaða</h4>
				<h4><span class="badge bg-{%if debt < 0%}danger{%else%}success{%endif%}">{{debt}} kr</span></h4>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h4>Keyptar vörur</h4>
				<table class="table table-light table-striped table-sm ">
  					<thead>
    						<tr>
      							<th scope="col">Tímasetning</th>
      							<th scope="col">Vara</th>
      							<th scope="col" class="text-end">Verð</th>
    						</tr>
  					</thead>
  					<tbody>
						{%for pur in purchase%}
    						<tr>
							<th scope="row">{{ pur.saletime|date:"d.m.y" }} {{ pur.saletime|time:"H:i" }}</th>
      							<td>{{ pur.product|default_if_none:"Vara hætt" }}</td>
      							<td class="text-end">{{pur.price}} Kr.</td>
    						</tr>
						{%endfor%}
					</tbody>
				</table>
			</div>
			<div class="col">
				<h4>Innborganir</h4>
				 <table class="table table-light table-striped table-sm ">
                                        <thead>
                                                <tr>
                                                        <th scope="col">Tímasetning</th>
							<th scope="col" class="text-end">Upphæð</th>
                                                </tr>
                                        </thead>
                                        <tbody>
                                                {%for paid in payment%}
                                                <tr>
                                                        <th scope="row">{{ paid.paytime|date:"d.m.y" }} {{ paid.paytime|time:"H:i" }}</th>
                                                        <td class="text-end">{{ paid.amount}} Kr.</td>
                                                </tr>
                                                {%endfor%}
                                        </tbody>
                                </table>
			</div>
		</div>
	</div>
	<div id="edituserpopup" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                                <div class="modal-body">
                                        <h3>Breyta notanda</h4>
                                        <form id="edituser" method="post" enctype="multipart/form-data">
                                        {%csrf_token%}
                                        <div class="input-group mb-3">
                                                <input type="text" id="editfn" name="fn" value= "" aria-label="Fyrra nafn" class="form-control" required>
                                        </div>
					<div class="input-group mb-3">
                                                <input type="text" id="editln" name="ln" value= "" aria-label="Fyrra nafn" class="form-control" required>
                                        </div>

                                        <div class="modal-footer">
                                                <button type="submit" id="userid" class="btn btn-success" name="userid" value="">Breyta notanda</button>
                                                <button type="button" class="btn btn-warning" name="dismiss" data-bs-dismiss="modal">Hætta við</button>
                                        </form>
                                </div>
                        </div>
                </div>
        </div>
	
{%endblock%}
