{%extends "boutique/base.html"%}
{%block title%}KHAB - Users{%endblock%}
{%block header%}User administration{%endblock%}
{%block content%}
<button class="btn btn-warning mb-3" onClick="newInvite(event)">Bjóða notanda</button>
{%if invites%}
<ul class="list-group">
	<h4>Boðnir notendur</h4>
        {%for invite in invites%}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                                <div class ="fw-bold">{{invite.invited}}</div>
                                <span class="badge bg-warning">{{invite.timeout}}</span>
                        </div>
                        <button class="deleteinvite btn btn-danger">Eyða boði</button>
                </li>
        {% endfor %}
        </ul>
{%endif%}
{%if users%}
	<h4>Notendur</h4>
	<ul class="list-group">
	{%for user in users%}
		<li class="list-group-item d-flex justify-content-between align-items-start">
			<div class="ms-2 me-auto">
				<div class ="fw-bold"><a href="users/{{user.id}}" class="userlink" >{{user.first_name}} {{user.last_name}}</a></div>
				<span class="badge {%if user.debt >= 0 %}bg-success{%else%}bg-danger{%endif%}">{{user.debt}}</span>
			</div>
                        <div class="form-check form-switch align-self-center form-floating me-3">
                                <form method="post">
                                {% csrf_token %}
                                        <input name="userid" value="{{user.id}}" hidden>
                                        <label class="form-check-label" for="isactive">{%if user.is_active%}Virkur{%else%}Óvirkur{%endif%}</label>
                                        <input class="form-check-input form-control" type="checkbox" id="isactive" name="isactive" onchange="changeStatus(event,this)" value={%if user.is_active%}"True" checked{%else%}"False"{%endif%}>
                                </form>
                        </div>
			<button class="newpayment btn btn-success align-self-center" onClick="newPayment(event,'{{user.first_name}}','{{user.last_name}}',{{user.id}},{{user.debt}})">Skrá innborgun</button>
		</li>
	{% endfor %}
	</ul>
	<div id="userpaymentpopup" class="modal fade" role="dialog">
		<div class="modal-dialog modal-lg">
                        <div class="modal-content">
                                <div class="modal-body">
					<h3 id="payername"></h3>
                                        <form id="newpayment" method="post" action="newpayment" enctype="multipart/form-data">
                                        {%csrf_token%}
                                        <div class="input-group mb-3">
                                                <input type="number" id="amount" name="amount" value= "" aria-label="Upphæð" class="form-control" required>
						<span class="input-group-text">Kr.</span>
                                        </div>
                                        <div class="modal-footer">
						<input type="hidden" id="previous_page" name="previous_page" value="/users">
						<button type="submit" id="payerid" class="btn btn-success" name="payerid" value="">Skrá innborgun</button>
                                                <button type="button" class="btn btn-warning" name="dismiss" data-bs-dismiss="modal">Hætta við</button>
					</div>
                                        </form>
                                </div>
                        </div>
                </div>
	</div>
        <div id="invitepopup" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                                <div class="modal-body">
                                        <h3 id="invite">Bjóða nýjum notanda</h3>
                                        <form id="newinvite" method="post" action="newinvite" enctype="multipart/form-data">
                                        {%csrf_token%}
                                        <div class="input-group mb-3">
                                                <input type="email" id="email" name="email" aria-label="Notandi" class="form-control" required>
                                        </div>
                                        <div class="modal-footer">
						<button type="submit" class="btn btn-success">Skrá notanda</button>
                                                <button type="button" class="btn btn-warning" name="dismiss" data-bs-dismiss="modal">Hætta við</button>
					</div>
					</form>
                                </div>
                        </div>
                </div>
        </div>
{% endif %}
{%endblock%}

